.help-feed{
    margin: 0 auto;
    padding: 30px;
    }

.help-card{
    margin: 0 auto;
    width: 980px;
    height: 130px;
    
    padding: 15px;

    border: 1px solid black;
    border-radius: 10px;
}