@import 'login';
@import 'ajuda';
@import 'feed';
@import 'menu';
@import 'profile';
@import 'addFunds';
@import 'modal';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$background-color: #FDFCDC;
$text-color : black;
$button-color: #F07167;

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #DAE2F8; 
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); 
}

h1 {
    font-family: 'Montserrat', sans-serif;
}